@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --color-background: rgb(255, 255, 255);
    --color-heading: #0f172a;
    --color-accent: #ffc107;
    --color-border: #e2e8f0;
    --color-paragraph: #64748b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--color-heading);
}

li {
    list-style: none;
}

p {
    color: var(--color-paragraph);
    font-size: 15px;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    letter-spacing: 1px;
}

body {
   font-family: "Roboto Flex", sans-serif;
   background-color: var(--color-background);
   font-size: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    background-color: inherit;
}

#container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    overflow: hidden;
    padding: 20px 0;
}

.header h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize
}

.header .nav-lists ul {
    display: inline-flex;
    align-items: center;
}

.nav-lists ul li {
    margin-right: 10px;
}